<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
            <h1 class="nos-casamos">NOS CASAMOS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 carta text-center">
            <h3 class="font-pacifico">¿Cuándo?</h3>
            <p>Sábado 6 de Febrero, 2021 - 4:00 PM</p>
            <h3 class="font-pacifico">¿Dónde?</h3>
            <p>Parroquia La Quinta Estación, Copacabana</p>
            <p>
                <a href=""><img width="30" src="../../../assets/img/ubicacion.png" alt=""></a>
                <a href="" style="text-decoration:underline;">Ubicación</a>
            </p>
        </div>
    </div>
</div>
