.font-pacifico{
    font-family: 'Pacifico', cursive;
}
.carta{
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
padding: 70px 20px;
}
.nos-casamos{
    margin-top: 20px;
    margin-bottom: -15px;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
}