<div class="jumbotron animated fadeIn fast text-center text-white" id="fondo">
    <h1 class="display-4">¡Hola<br>{{ guestName }}!</h1>
    <p class="lead">Estás invitado a un evento muy especial</p>
</div>
<div class="row">
    <div class="col text-center">
        <img width="30" src="../../../assets/img/gps.png" alt="">
        <img width="30" src="../../../assets/img/pants.png" alt="">
    </div>
</div>
<h1 class="text-center">
    ¡Nos casamos!
</h1>
<p class="text-center">
    y queremos que nos acompañes en este día porque eres muy importante para nosotros.
</p>
<h2 class="text-center">
    ¿Cuándo?
</h2>
<p class="text-center">
    Febrero 6,20,21
</p>
<h2 class="text-center">
    ¿Dónde?
</h2>
<p class="text-center">
    Zona E, Green House
</p>
<p class="text-center">
    La ceremonía comienza 5 en punto. Debes estar 15 minutos antes, en la entreda pedirán tus datos.
</p>
<h2 class="text-center">
    ¿Qué me pongo?
</h2>
<p class="text-center">
    Lo más importante es que estés cómodo, en la noche hace frío entonces asegúrate de llevar algo para cubrirte. El estilo será bohemio étnico.
</p>
<div class="text-center">
    <button class="btn btn-primary">
        Fotos de referencia
    </button>
</div>
<p class="text-center">
    No te de miedo a probar algo diferente.
</p>
